<app-sidebar [resetChanges]="resetChanges" [editId]="editId" (triggerReload)="updateUsers()"></app-sidebar>

<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="w-full max-w-xs">
      <app-create-form [resetChanges]="resetChanges" (triggerReload)="updateUsers()"></app-create-form>
    </div>
  </div>
  <div class="flex flex-row">
    <div class="basis-3/5 font-bold my-4 ">Liste des utilisateurs</div>
    <div class="basis-2/5 my-4 float-right">
      <button (click)="reset()"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded mx-2 my-2">
        <svg class="relative inline" fill="#fff" height="10px" width="10px" version="1.1" id="Capa_1"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 47.095 47.095" xml:space="preserve">
              <g>
	              <path d="M45.363,36.234l-13.158-13.16l12.21-12.21c2.31-2.307,2.31-6.049,0-8.358c-2.308-2.308-6.05-2.307-8.356,0l-12.212,12.21
		            L11.038,1.906c-2.309-2.308-6.051-2.308-8.358,0c-2.307,2.309-2.307,6.049,0,8.358l12.81,12.81L1.732,36.831
		            c-2.309,2.31-2.309,6.05,0,8.359c2.308,2.307,6.049,2.307,8.356,0l13.759-13.758l13.16,13.16c2.308,2.308,6.049,2.308,8.356,0
		            C47.673,42.282,47.672,38.54,45.363,36.234z"/>
              </g>
          </svg>
        cancel
      </button>
      <button (click)="saveChanges()"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded mx-2 my-2">


        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="relative inline"
             width="15px" height="15px" viewBox="0 0 50.000000 50.000000"
             preserveAspectRatio="xMidYMid meet">

          <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)"
             fill="#fff" stroke="none">
            <path d="M44 447 c-2 -7 -3 -100 -2 -207 l3 -195 205 0 205 0 3 164 3 165 -43
              43 -42 43 -163 0 c-124 0 -165 -3 -169 -13z m78 -79 l3 -73 120 0 120 0 3 69
              3 69 34 -33 35 -34 0 -153 0 -153 -30 0 -29 0 -3 88 -3 87 -125 0 -125 0 -3
              -87 -3 -88 -29 0 -30 0 0 190 0 190 30 0 29 0 3 -72z m228 7 l0 -65 -105 0
              -105 0 0 65 0 65 105 0 105 0 0 -65z m10 -235 l0 -80 -110 0 -110 0 0 80 0 80
              110 0 110 0 0 -80z"/>
            <path d="M80 90 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10
              -4 -10 -10z"/>
            <path d="M400 90 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
              -10 -4 -10 -10z"/>
            <path d="M280 375 c0 -41 2 -45 25 -45 23 0 25 4 25 45 0 41 -2 45 -25 45 -23
              0 -25 -4 -25 -45z m27 -12 c-3 -10 -5 -4 -5 12 0 17 2 24 5 18 2 -7 2 -21 0
              -30z"/>
          </g>
        </svg>

        save
      </button>
      <button (click)="resetLocalStorage()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mx-2 my-2">
        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg class="relative inline"
             width="15px" height="15px" fill="#fff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 26.349 26.35"
             xml:space="preserve">
<g>
	<g>
		<circle cx="13.792" cy="3.082" r="3.082"/>
    <circle cx="13.792" cy="24.501" r="1.849"/>
    <circle cx="6.219" cy="6.218" r="2.774"/>
    <circle cx="21.365" cy="21.363" r="1.541"/>
    <circle cx="3.082" cy="13.792" r="2.465"/>
    <circle cx="24.501" cy="13.791" r="1.232"/>
    <path d="M4.694,19.84c-0.843,0.843-0.843,2.207,0,3.05c0.842,0.843,2.208,0.843,3.05,0c0.843-0.843,0.843-2.207,0-3.05
			C6.902,18.996,5.537,18.988,4.694,19.84z"/>
    <circle cx="21.364" cy="6.218" r="0.924"/>
	</g>
</g>
</svg>
        load
      </button>
    </div>
  </div>
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-4">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
    <div *ngFor="let user of users">
        <div>
          <app-users-list [user]="user" [resetChanges]="resetChanges" (click)="editUser(user.id)" (triggerReload)="updateUsers()"></app-users-list>
        </div>
      </div>
    </div>
  </div>
</div>
